*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;}




.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float{
    float: left;
}








#site_header{
    background-color: #3161e0;
    padding: 1.5rem 0;
}


.header_wrapper{
    width:70%;
    margin: 0 auto;

}


.nav-list{
    list-style: none;
    vertical-align: middle;
    line-height: 30px;
}

.list-item{
    display: inline-block;
    margin: 0 1rem;
}


.link{
    text-decoration: none;
    color: white;
    font-size: .9rem;
    font-weight: 500;
    letter-spacing: .5px;
}

.logo-img{width: 55%;}


.logo, .log-in{
    width: 20%;
}

.log-in{text-align: right;
    vertical-align: middle;
    line-height: 30px;
  }

.log-in-btn{
    color: #23272a;
    background-color: white;
    padding: .5em 1em;
    text-decoration: none;
    border-radius: 100px;
    font-size: .9rem;
    font-weight: 500;

}


.nav{
    width: 60%;
    text-align: center;
    letter-spacing: .5px;

}