*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
 }




.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float{
    float: left;
}




/* HEADER */



#site_header{
    padding: 1.5rem 0;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100000;
}



.margin{
    margin: 0 auto;
    width:70%;


}


/* HEADER - nav */




.nav{
    width: 60%;
    text-align: center;
    letter-spacing: .5px;

}

.nav-list{
    list-style: none;
    vertical-align: middle;
    line-height: 30px;
}

.list-item{
    display: inline-block;
    margin: 0 1rem;
}


.link{
    text-decoration: none;
    color: white;
    font-size: .9rem;
    font-weight: 500;
    letter-spacing: .5px;
}


/* HEADER - nav */



/* HEADER - logo and log in */




.logo-img{width: 55%;}


.logo, .log-in{
    width: 20%;
}

.log-in{text-align: right;
    vertical-align: middle;
    line-height: 30px;
  }

.log-in-btn{
    color: #23272a;
    background-color: white;
    padding: .5em 1em;
    text-decoration: none;
    border-radius: 100px;
    font-size: .9rem;
    font-weight: 500;

}

/* HEADER */





/* MAIN - HERO-sec */

.hero_sec{
    background-image: url(../img/jumbo.png);
    filter: grayscale(.1);
    background-size:cover;
    background-position: top;
    padding-top: 10rem;
    padding-bottom: 10rem;
    max-width: 100%;
}

.hero_sec_content{
    text-align: center;
    width: 47%;
    margin: 0 auto;
}
.hero_sec_content h1{
    font-size: 3.3rem;
    letter-spacing: 1px;
    margin-bottom: 2.7rem;
    color: white;

    

}

.hero_sec_content p{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
    color: white;
}

.buttons{
    display: inline-block;
    margin-top: 2rem;
    margin-left: 1rem;
}

.btn{
    background-color: white;
    color: #23272a;
    text-decoration: none;
    padding: .8rem 1.3rem;
    font-weight: 500;
    letter-spacing: .5px;
    border-radius: 50px;

}

.fas{
    margin-right: .5rem;
    font-size: 1.1rem;
}

.btn_modifier{
    background-color: #23272a;
    color: #fff;
}


/* MAIN - content-sec */

.content_sec{
    margin-top:15rem;
}


.content_sec_wrapper{
    margin: 0 auto;
    width:70%;

}
.col{float: left;}

.col_img{width:50%}

.col_img img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;}

.col_text{
    width: 32%;
    color: #23272a;
}

.margin_col{
    margin-left: 10rem;
}



.col_text h2{
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: 800;
}

.col_text p{
    margin-top: 3rem;
    line-height: 1.8rem;
    font-weight: 500;


}


#site_main .content_sec:nth-last-child(2) .content_sec_wrapper .col img {
    height: auto;
}






.big-sec{
    text-align: center;
}

.big-sec .col_text h2, .big-sec .col_text p{
    color: #23272a;
}


.big-sec  .content_sec_wrapper .col_text{
    width:100%;
  ;
}
.big_sec_img img{
    width: 100%;
}

.call_to_action h3{
    font-size:1.8rem;
    margin-bottom: 2.3rem;
    color: #23272a;
}

.call_to_action .btn{
    background-color: #8ea1e1;
    color: white;
}
.call_to_action .btn .fas{
    color: white;
}



/* FOOTER */

#site_footer{
    background-color: #23272a;
    color: white;
    margin-top:8rem;
}


.footer_wrapper{
    padding:3rem 0;
    
}

.border{border-bottom: 1px solid #7289da;}


.footer-col-social h4{
    color: #7289da;
    font-size:2rem;
    width:300px
}

.footer-col h5{
    color: #7289da;

}
.footer-col, .footer-col-social
{
    float: left;
}

.footer-col-social{
    width: 40%;
}

.footer-col{
    width: 15%;

}

.lingua{
    margin-top: 2rem;
}


.lingua img{
    width:20px
}


.lingua a{
    font-size: .8rem;
}
 .lingua .fas{
    color: white;
    font-size: .7rem;
    margin-left: .2rem;}




.footer-col ul, .footer-col-social ul {
    list-style: none;
    
}

.footer-col ul li{
    margin-top: 1rem;
}



.footer-col-social ul {
    margin-top: 2rem;
}

.footer-col-social ul li{
    display: inline-block;
    margin-right: 1.5rem;
    font-size: 1.1rem;
}


.lingua a, .footer-col ul li a, .footer-col-social ul li a {
    color: white;
    text-decoration: none;
}


.footer_float{
    float: left;
}

.right{
    float: right;
}


.footer_float a{
    vertical-align: -webkit-baseline-middle;
}

.sign-up-btn{
    color:white;
    background-color:#7289da;
    padding: .5em 1em;
    text-decoration: none;
    border-radius: 100px;
    font-size: .9rem;
    font-weight: 500;

}
